.main-window {
    height: auto;
    width: auto;
    margin: auto;
}

.loading-label {
    display: block;
    text-align: center;
}

.main-window.landscape .hero-status {
    display: inline-block;
    vertical-align: top;
}

.main-window.landscape .map {
    display: inline-block;
    vertical-align: top;
}
.map {
    height: auto;
    width: auto;
    position: relative;
}

.map-block {
    border:solid 1px grey;
}

.hero, .monster, .item {
    background-repeat: no-repeat;
    background-size: cover;
}

.hero.warrior.d0 {
    background-image: url("../img/warrior0-0.png");
}
.hero.warrior.d0.moving0 {
    background-image: url("../img/warrior0-1.png");
}
.hero.warrior.d0.moving1 {
    background-image: url("../img/warrior0-2.png");
}
.hero.warrior.d0.attacking0 {
    background-image: url("../img/warrior0-3.png");
}
.hero.warrior.d0.attacking1 {
    background-image: url("../img/warrior0-4.png");
}

.hero.warrior.d1 {
    background-image: url("../img/warrior1-0.png");
}
.hero.warrior.d1.moving0 {
    background-image: url("../img/warrior1-1.png");
}
.hero.warrior.d1.moving1 {
    background-image: url("../img/warrior1-2.png");
}
.hero.warrior.d1.attacking0 {
    background-image: url("../img/warrior1-3.png");
}
.hero.warrior.d1.attacking1 {
    background-image: url("../img/warrior1-4.png");
}

.hero.warrior.d2 {
    background-image: url("../img/warrior2-0.png");
}
.hero.warrior.d2.moving0 {
    background-image: url("../img/warrior2-1.png");
}
.hero.warrior.d2.moving1 {
    background-image: url("../img/warrior2-2.png");
}
.hero.warrior.d2.attacking0 {
    background-image: url("../img/warrior2-3.png");
}
.hero.warrior.d2.attacking1 {
    background-image: url("../img/warrior2-4.png");
}

.hero.warrior.d3 {
    background-image: url("../img/warrior3-0.png");
}
.hero.warrior.d3.moving0 {
    background-image: url("../img/warrior3-1.png");
}
.hero.warrior.d3.moving1 {
    background-image: url("../img/warrior3-2.png");
}
.hero.warrior.d3.attacking0 {
    background-image: url("../img/warrior3-3.png");
}
.hero.warrior.d3.attacking1 {
    background-image: url("../img/warrior3-4.png");
}

.monster.slime.d0 {
    background-image: url("../img/slime2-0.png");
}
.monster.slime.d1 {
    background-image: url("../img/slime2-0.png");
}
.monster.slime.d2 {
    background-image: url("../img/slime2-0.png");
}
.monster.slime.d3 {
    background-image: url("../img/slime2-0.png");
}

.monster.skeleton.d0 {
    background-image: url("../img/skeleton2-0.png");
}
.monster.skeleton.d1 {
    background-image: url("../img/skeleton2-0.png");
}
.monster.skeleton.d2 {
    background-image: url("../img/skeleton2-0.png");
}
.monster.skeleton.d3 {
    background-image: url("../img/skeleton2-0.png");
}

.monster.kobold.d0 {
    background-image: url("../img/kobold2-0.png");
}
.monster.kobold.d1 {
    background-image: url("../img/kobold2-0.png");
}
.monster.kobold.d2 {
    background-image: url("../img/kobold2-0.png");
}
.monster.kobold.d3 {
    background-image: url("../img/kobold2-0.png");
}

.monster.goblin.d0 {
    background-image: url("../img/goblin2-0.png");
}
.monster.goblin.d1 {
    background-image: url("../img/goblin2-0.png");
}
.monster.goblin.d2 {
    background-image: url("../img/goblin2-0.png");
}
.monster.goblin.d3 {
    background-image: url("../img/goblin2-0.png");
}

.item.potion {
    background-image: url("../img/potion.png");
}

.effect-queue {
    position:relative;
    text-align: center;
    margin-top: 40%;
}

.effect-label{
    color: red;
    font-size: 25px;
    left: 0;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease-in-out 0s;
    width: 100%;
}

.monster-level , .item-level{
    display: block;
    font-size: 21px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: red;
    bottom: -4px;
    position:absolute;
}

.hero-label {
    font-size:20px;
    margin: 10px;
}

.hp-symbol {
    color:red;
}

.main-window.landscape .hero-label {
    display: block;
}

.game-over {
    font-size:50px;
    margin:auto;
    position:absolute;
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.restart-game {
    margin: 50% 41% 41%;
    position: relative;
    width: 18%
}