.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

body {
    overflow: hidden;
}

.preload {
    display: none;
}

.main-window {
    height: auto;
    width: auto;
    margin: auto;
    position:absolute;
}

.loading-label {
    display: block;
    text-align: center;
}

.main-window.landscape .hero-status {
    display: inline-block;
    vertical-align: top;
}

.main-window.landscape .map {
    display: inline-block;
    vertical-align: top;
}

.main-window.landscape .hero-active-skill {
    display: inline-block;
    vertical-align: top;
}

.map {
    height: auto;
    width: auto;
    position: relative;
    background-image: url("../img/dungeon-tile.jpg");
    background-size: cover;
}

.map-block {
/*    border:solid 1px grey;*/
}

.hero, .monster, .item {
    background-repeat: no-repeat;
    background-size: cover;
}

/*hero image*/
/*warrior*/
.hero.warrior.d0 {
    background-image: url("../img/warrior0-0.png");
}
/*.hero.warrior.d0.moving0 {
    background-image: url("../img/warrior0-1.png");
}
.hero.warrior.d0.moving1 {
    background-image: url("../img/warrior0-2.png");
}*/
.hero.warrior.d0.attacking0 {
    background-image: url("../img/warrior0-3.png");
}
.hero.warrior.d0.attacking1 {
    background-image: url("../img/warrior0-4.png");
}

.hero.warrior.d1 {
    background-image: url("../img/warrior1-0.png");
}
/*.hero.warrior.d1.moving0 {
    background-image: url("../img/warrior1-1.png");
}
.hero.warrior.d1.moving1 {
    background-image: url("../img/warrior1-2.png");
}*/
.hero.warrior.d1.attacking0 {
    background-image: url("../img/warrior1-3.png");
}
.hero.warrior.d1.attacking1 {
    background-image: url("../img/warrior1-4.png");
}

.hero.warrior.d2 {
    background-image: url("../img/warrior2-0.png");
}
/*.hero.warrior.d2.moving0 {
    background-image: url("../img/warrior2-1.png");
}
.hero.warrior.d2.moving1 {
    background-image: url("../img/warrior2-2.png");
}*/
.hero.warrior.d2.attacking0 {
    background-image: url("../img/warrior2-3.png");
}
.hero.warrior.d2.attacking1 {
    background-image: url("../img/warrior2-4.png");
}

.hero.warrior.d3 {
    background-image: url("../img/warrior3-0.png");
}
/*.hero.warrior.d3.moving0 {
    background-image: url("../img/warrior3-1.png");
}
.hero.warrior.d3.moving1 {
    background-image: url("../img/warrior3-2.png");
}*/
.hero.warrior.d3.attacking0 {
    background-image: url("../img/warrior3-3.png");
}
.hero.warrior.d3.attacking1 {
    background-image: url("../img/warrior3-4.png");
}

/*priest*/
.hero.priest.d0 {
    background-image: url("../img/priest0-0.png");
}
.hero.priest.d0.attacking0 {
    background-image: url("../img/priest0-3.png");
}
.hero.priest.d0.attacking1 {
    background-image: url("../img/priest0-4.png");
}

.hero.priest.d1 {
    background-image: url("../img/priest1-0.png");
}
.hero.priest.d1.attacking0 {
    background-image: url("../img/priest1-3.png");
}
.hero.priest.d1.attacking1 {
    background-image: url("../img/priest1-4.png");
}

.hero.priest.d2 {
    background-image: url("../img/priest2-0.png");
}
.hero.priest.d2.attacking0 {
    background-image: url("../img/priest2-3.png");
}
.hero.priest.d2.attacking1 {
    background-image: url("../img/priest2-4.png");
}

.hero.priest.d3 {
    background-image: url("../img/priest3-0.png");
}
.hero.priest.d3.attacking0 {
    background-image: url("../img/priest3-3.png");
}
.hero.priest.d3.attacking1 {
    background-image: url("../img/priest3-4.png");
}


/*monster image*/
.monster.archer.d0 {
    background-image: url("../img/archer3-0.png");
}
.monster.archer.d1 {
    background-image: url("../img/archer3-0.png");
}
.monster.archer.d2 {
    background-image: url("../img/archer3-0.png");
}
.monster.archer.d3 {
    background-image: url("../img/archer3-0.png");
}

.monster.archer.d0.attacking0, .monster.archer.d1.attacking0, .monster.archer.d2.attacking0, .monster.archer.d3.attacking0 {
    background-image: url("../img/archer3-3.png");
}
.monster.archer.d0.attacking1, .monster.archer.d1.attacking1, .monster.archer.d2.attacking1, .monster.archer.d3.attacking1 {
    background-image: url("../img/archer3-4.png");
}
.monster.archer.d0.attacking2, .monster.archer.d1.attacking2, .monster.archer.d2.attacking2, .monster.archer.d3.attacking2 {
    background-image: url("../img/archer3-5.png");
}

.monster.ghost.d0,.monster.ghost.d1,.monster.ghost.d2,.monster.ghost.d3 {
    background-image: url("../img/ghost1-0.png");
}
.monster.ghost.d0.attacking0, .monster.ghost.d1.attacking0, .monster.ghost.d2.attacking0, .monster.ghost.d3.attacking0 {
    background-image: url("../img/ghost1-3.png");
}
.monster.ghost.d0.attacking1, .monster.ghost.d1.attacking1, .monster.ghost.d2.attacking1, .monster.ghost.d3.attacking1 {
    background-image: url("../img/ghost1-4.png");
}
.monster.ghost.d0.attacking0, .monster.ghost.d3.attacking0 {
    transform:scaleX(-1);
}
.monster.ghost.d0.attacking1, .monster.ghost.d3.attacking1 {
    transform:scaleX(-1);
}

.monster.goblin.d0,.monster.goblin.d1,.monster.goblin.d2,.monster.goblin.d3 {
    background-image: url("../img/goblin1-0.png");
}
.monster.goblin.d0.attacking0, .monster.goblin.d1.attacking0, .monster.goblin.d2.attacking0, .monster.goblin.d3.attacking0 {
    background-image: url("../img/goblin1-3.png");
}
.monster.goblin.d0.attacking1, .monster.goblin.d1.attacking1, .monster.goblin.d2.attacking1, .monster.goblin.d3.attacking1 {
    background-image: url("../img/goblin1-4.png");
}
.monster.goblin.d0.attacking0, .monster.goblin.d3.attacking0 {
    transform:scaleX(-1);
}
.monster.goblin.d0.attacking1, .monster.goblin.d3.attacking1 {
    transform:scaleX(-1);
}

.monster.medusa.d0,.monster.medusa.d1,.monster.medusa.d2,.monster.medusa.d3 {
    background-image: url("../img/medusa1-0.png");
}
.monster.medusa.d0.attacking0, .monster.medusa.d1.attacking0, .monster.medusa.d2.attacking0, .monster.medusa.d3.attacking0 {
    background-image: url("../img/medusa1-3.png");
}
.monster.medusa.d0.attacking1, .monster.medusa.d1.attacking1, .monster.medusa.d2.attacking1, .monster.medusa.d3.attacking1 {
    background-image: url("../img/medusa1-4.png");
}
.monster.medusa.d0.attacking0, .monster.medusa.d3.attacking0 {
    transform:scaleX(-1);
}
.monster.medusa.d0.attacking1, .monster.medusa.d3.attacking1 {
    transform:scaleX(-1);
}

.monster.mimic.d0,.monster.mimic.d1,.monster.mimic.d2,.monster.mimic.d3 {
    background-image: url("../img/mimic2-0.png");
}
.monster.mimic.d0.attacking0, .monster.mimic.d1.attacking0, .monster.mimic.d2.attacking0, .monster.mimic.d3.attacking0 {
    background-image: url("../img/mimic2-3.png");
}
.monster.mimic.d0.attacking1, .monster.mimic.d1.attacking1, .monster.mimic.d2.attacking1, .monster.mimic.d3.attacking1 {
    background-image: url("../img/mimic2-4.png");
}

.monster.minotaur.d0,.monster.minotaur.d1,.monster.minotaur.d2,.monster.minotaur.d3 {
    background-image: url("../img/minotaur2-0.png");
}
.monster.minotaur.d0.attacking0 {
    background-image: url("../img/minotaur0-3.png");
}
.monster.minotaur.d0.attacking1 {
    background-image: url("../img/minotaur0-4.png");
}
.monster.minotaur.d1.attacking0 {
    background-image: url("../img/minotaur3-3.png");
    transform:scaleX(-1);
}
.monster.minotaur.d1.attacking1 {
    background-image: url("../img/minotaur3-4.png");
    transform:scaleX(-1);
}
.monster.minotaur.d2.attacking0 {
    background-image: url("../img/minotaur2-3.png");
}
.monster.minotaur.d2.attacking1 {
    background-image: url("../img/minotaur2-4.png");
}
.monster.minotaur.d3.attacking0 {
    background-image: url("../img/minotaur3-3.png");
}
.monster.minotaur.d3.attacking1 {
    background-image: url("../img/minotaur3-4.png");
}

.monster.orc.d0,.monster.orc.d1,.monster.orc.d2,.monster.orc.d3 {
    background-image: url("../img/orc1-0.png");
}
.monster.orc.attacking0.d1, .monster.orc.attacking0.d2 {
    background-image: url("../img/orc1-3.png");
}
.monster.orc.attacking1.d1, .monster.orc.attacking1.d2 {
    background-image: url("../img/orc1-4.png");
}
.monster.orc.attacking0.d0, .monster.orc.attacking0.d3 {
    background-image: url("../img/orc1-3.png");
    transform:scaleX(-1);
}
.monster.orc.attacking1.d0, .monster.orc.attacking1.d3 {
    background-image: url("../img/orc1-4.png");
    transform:scaleX(-1);
}

.monster.slime.d0 {
    background-image: url("../img/slime2-0.png");
}
.monster.slime.d1 {
    background-image: url("../img/slime2-0.png");
}
.monster.slime.d2 {
    background-image: url("../img/slime2-0.png");
}
.monster.slime.d3 {
    background-image: url("../img/slime2-0.png");
}
.monster.slime.d0.attacking0, .monster.slime.d1.attacking0, .monster.slime.d2.attacking0, .monster.slime.d3.attacking0 {
     background-image: url("../img/slime2-1.png");
 }
.monster.slime.d0.attacking1, .monster.slime.d1.attacking1, .monster.slime.d2.attacking1, .monster.slime.d3.attacking1 {
    background-image: url("../img/slime2-2.png");
}

.monster.shaman.d0,.monster.shaman.d1,.monster.shaman.d2,.monster.shaman.d3 {
    background-image: url("../img/shaman2-0.png");
}
.monster.shaman.d0.attacking0, .monster.shaman.d1.attacking0, .monster.shaman.d2.attacking0, .monster.shaman.d3.attacking0 {
    background-image: url("../img/shaman2-3.png");
}
.monster.shaman.d0.attacking1, .monster.shaman.d1.attacking1, .monster.shaman.d2.attacking1, .monster.shaman.d3.attacking1 {
    background-image: url("../img/shaman2-4.png");
}
.monster.shaman.d0.attacking0, .monster.shaman.d3.attacking0 {
    transform:scaleX(-1);
}
.monster.shaman.d0.attacking1, .monster.shaman.d3.attacking1 {
    transform:scaleX(-1);
}

.monster.vampire.d0,.monster.vampire.d1,.monster.vampire.d2,.monster.vampire.d3 {
    background-image: url("../img/vampire2-0.png");
}
.monster.vampire.d0.attacking0, .monster.vampire.d1.attacking0, .monster.vampire.d2.attacking0, .monster.vampire.d3.attacking0 {
    background-image: url("../img/vampire2-3.png");
}
.monster.vampire.d0.attacking1, .monster.vampire.d1.attacking1, .monster.vampire.d2.attacking1, .monster.vampire.d3.attacking1 {
    background-image: url("../img/vampire2-4.png");
}

.monster.skeleton.d0 {
    background-image: url("../img/skeleton2-0.png");
}
.monster.skeleton.d1 {
    background-image: url("../img/skeleton2-0.png");
}
.monster.skeleton.d2 {
    background-image: url("../img/skeleton2-0.png");
}
.monster.skeleton.d3 {
    background-image: url("../img/skeleton2-0.png");
}

.monster.skeleton.d0.attacking0, .monster.skeleton.d1.attacking0 {
    background-image: url("../img/skeleton2-3.png");
}
.monster.skeleton.d0.attacking1, .monster.skeleton.d1.attacking1 {
    background-image: url("../img/skeleton2-4.png");
}

.monster.skeleton.d2.attacking0, .monster.skeleton.d3.attacking0 {
    background-image: url("../img/skeleton3-3.png");
}
.monster.skeleton.d2.attacking1, .monster.skeleton.d3.attacking1 {
    background-image: url("../img/skeleton3-4.png");
}

.monster.snake.d0 {
    background-image: url("../img/snake1-0.png");
}
.monster.snake.d1 {
    background-image: url("../img/snake1-0.png");
}
.monster.snake.d2 {
    background-image: url("../img/snake1-0.png");
}
.monster.snake.d3 {
    background-image: url("../img/snake1-0.png");
}
.monster.snake.d3.attacking0 {
    background-image: url("../img/snake1-3.png");
    transform: scaleX(-1);
}
.monster.snake.d3.attacking1 {
    background-image: url("../img/snake1-4.png");
    transform: scaleX(-1);
}
.monster.snake.d0.attacking0,.monster.snake.d2.attacking0, .monster.snake.d1.attacking0 {
    background-image: url("../img/snake1-3.png");
}
.monster.snake.d0.attacking1,.monster.snake.d2.attacking1, .monster.snake.d1.attacking1 {
    background-image: url("../img/snake1-4.png");
}

.monster.ogre.d0 {
    background-image: url("../img/ogre2-0.png");
}
.monster.ogre.d1 {
    background-image: url("../img/ogre2-0.png");
}
.monster.ogre.d2 {
    background-image: url("../img/ogre2-0.png");
}
.monster.ogre.d3 {
    background-image: url("../img/ogre2-0.png");
}

.monster.ogre.d0.attacking0, .monster.ogre.d3.attacking0 {
    background-image: url("../img/ogre3-3.png");
}
.monster.ogre.d0.attacking1, .monster.ogre.d3.attacking1 {
    background-image: url("../img/ogre3-4.png");
}
.monster.ogre.d2.attacking0, .monster.ogre.d1.attacking0 {
    background-image: url("../img/ogre2-3.png");
}
.monster.ogre.d2.attacking1, .monster.ogre.d1.attacking1 {
    background-image: url("../img/ogre2-4.png");
}

/*boss image*/
.monster.boss-beholder {
    background-image: url("../img/boss-beholder2-0.png");
}
.monster.boss-beholder.attacking1 {
    background-image: url("../img/boss-beholder2-4.png");
}
.monster.boss-beholder.attacking2 {
    background-image: url("../img/boss-beholder2-4.png");
}

.monster.boss-death {
    background-image: url("../img/boss-death2-0.png");
}
.monster.boss-death.attacking1 {
    background-image: url("../img/boss-death2-4.png");
}
.monster.boss-death.attacking2 {
    background-image: url("../img/boss-death2-4.png");
}

.item.potion {
    background-image: url("../img/potion.png");
}

.status-angry {
    background-image: url("../img/status-angry.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10%;
    position: absolute;
    right: 25%;
    top: 25%;
    width: 10%;
}

.status-poison {
    background-image: url("../img/status-poison.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
    position: absolute;
    right: 15%;
    top: 15%;
    width: 20%;
}

.status-freeze {
    background-image: url("../img/status-freeze.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20%;
    position: absolute;
    right: 15%;
    top: 40%;
    width: 20%;
}

.status-elite {
    background-image: url("../img/status-elite.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 14%;
    position: absolute;
    width: 14%;
}

.map > .status-elite {
    height: 2.8%;
    width: 2.8%;
}

.status-elite {
    transition: all 0.4s ease-in-out 0s;
}

.status-elite.star1 {
    left: 43%;
    top: 3%;
}

.status-elite.star2 {
    left: 25%;
    top: 10%;
}

.status-elite.star3 {
    right: 25%;
    top: 10%;
}

.effect-queue {
    position:relative;
    text-align: center;
    margin-top: 40%;
}

.effect-label{
    color: red;
    font-size: 1em;
    left: 0;
    position: absolute;
    text-align: center;
    transition: all 0.55s ease-in-out 0s;
    width: 100%;
}

.effect-label.effect-get-hp {
    color:green;
}

.monster.attacking0 .monster-level , .monster.attacking1 .monster-level, .monster.attacking2 .monster-level{
    display:none;
}

.monster-level , .item-level{
    display: block;
    font-size: 1em;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    color: red;
    bottom: -5%;
    position:absolute;
}

.hero-label {
    font-size: 1.2em;
    margin: 1px 9px;
}

.hp-symbol {
    color:red;
}

.main-window.landscape .hero-label {
    display: block;
}

.game-over {
    background: white;
    height: 100%;
    margin: auto;
    position: absolute;
    text-align: center;
    width: 100%;
    top:0;
    left:0;
}
.game-over-title {
    display: block;
    font-size: 2em;
}
.game-over-buttons {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.to-menu , .restart-game {
    margin: 0 10%;
}
.score-board {
    overflow:auto;
}
.score-board.loading {
    background-image: url("../img/loading.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
.score-list {
    font-size: 0.95em;
}
.score-board td {
    padding: 0 10px;
}
.score-row.current {
    background: none repeat scroll 0 0 lightblue;
}
.input-player-name {
    background: none repeat scroll 0 0 white;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.input-group-player-name {
    margin: 15px auto;
    width: 80%;
}
.input-group.input-group-message {
    margin: 10px 5%;
}
.message {
    list-style-type: none;
    text-align: left;
}
.message-msg {
    display: inline-block;
    margin-left: 10px;
    word-wrap: break-word;
}
.message-time {
    font-size: 0.8em;
    font-weight: normal;
}
.message-list {
    overflow: auto;
    padding: 0 5%;
}

.unlock-title {
    font-size: 1.4em;
    margin: 5px 15px;
    text-align: left;
}

.unlock-list, .achievement-list {
    overflow: auto;
}

.unlock-it, .get-reward {
    position: absolute;
    right: 6px;
    top: 6px;
}

.gotten {
    position: absolute;
    right: 6px;
    top: 14px;
}

.unlock-icon , .achievement-icon{
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 46px;
    width: 46px;
    left: 0px;
    position: absolute;
}

.unlock-item , .achievement-item{
    border: 1px solid black;
    border-radius: 6px;
    display: block;
    height: 48px;
    margin: 5px 10px;
    position: relative;
}

.unlock-description {
    display: inline-block;
    left: 50px;
    position: absolute;
    right: 75px;
    text-align: center;
    vertical-align: middle;
}

.achievement-description {
    display: inline-block;
    left: 0px;
    position: absolute;
    right: 75px;
    text-align: center;
    vertical-align: middle;
}

.star {
    background-image: url("../img/status-elite.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 15px;
    width: 15px;
    display: inline-block;
}

.scrollable {
    -webkit-overflow-scroll:touch;
}

.help {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.85);
    top:0;
    left:0;
}

.close-help {
    bottom: 0;
    font-size: 1.5em;
    margin: 5% 10%;
    position: absolute;
    text-align: center;
    width: 80%;
}

.help-text {
    text-align: center;
    font-size:1.6em;
    display: inline-block;
    margin:10% 0%;
    width:80%;
    vertical-align: middle;
}

.help-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 10% 0%;
    width:20%;
    vertical-align: middle;
}

.archer-help {
    background-image: url("../img/archer3-0.png");
}
.ghost-help {
    background-image: url("../img/ghost1-0.png");
}
.goblin-help {
    background-image: url("../img/goblin1-0.png");
}
.medusa-help {
    background-image: url("../img/medusa1-0.png");
}
.mimic-help {
    background-image: url("../img/mimic2-0.png");
}
.minotaur-help {
    background-image: url("../img/minotaur2-0.png");
}
.ogre-help {
    background-image: url("../img/ogre2-0.png");
}
.orc-help {
    background-image: url("../img/orc1-0.png");
}
.shaman-help {
    background-image: url("../img/shaman2-0.png");
}
.skeleton-help {
    background-image: url("../img/skeleton2-0.png");
}
.slime-help {
    background-image: url("../img/slime2-0.png");
}
.snake-help {
    background-image: url("../img/snake1-0.png");
}
.vampire-help {
    background-image: url("../img/vampire2-0.png");
}
/*boss-help*/
.boss-death-help {
    background-image: url("../img/boss-death2-0.png");
}
.boss-beholder-help {
    background-image: url("../img/boss-beholder2-0.png");
}

.levelup-body {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.85);
    top:0;
    left:0;
    font-size: 2em;
    text-align: center;
}

.levelup-body .skill {
    height: auto;
    width:90%;
}

.levelup-body .skill-image-icon {
    display: inline-block;
    width: 20%;
    margin:5% 5%;
    vertical-align: middle;
 }

.levelup-body .skill-description {
    display: inline-block;
    width: 70%;
    padding: 0;
    vertical-align: middle;
}

.levelup-body .skill-level {
    font-size:1.1em;
    font-weight: bold;
}
.levelup-body .skill-text{
    font-size:1em;
    white-space: normal;
 }

.hero-active-skill .skill-level {
    font-size: 1em;
}

.empty-skill-slot {
    border: 1px dashed black;
    border-radius: 10px;
    height: 90px;
}

.main-window.portrait .hero-active-skill .skill, .main-window.portrait .hero-active-skill .empty-skill-slot {
    display: inline-block;
}
.skill-level {
    text-align: center;
}

.skill-image {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    transition: all 0.5s ease-in-out 0s;
}

.skill-image.used {
    opacity:0.4;
}

.skill-image-icon {
    position: relative;
}

.skill-cool-down {
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    font-size: 1.5em;
}

.skill-image-constitution {
    background-image: url("../img/skill-constitution.png");
}
.skill-image-cunning {
    background-image: url("../img/skill-cunning.png");
}
.skill-image-wisdom {
    background-image: url("../img/skill-wisdom.png");
}
.skill-image-dexterity {
    background-image: url("../img/skill-dexterity.png");
}
.skill-image-cooling {
    background-image: url("../img/skill-cooling.png");
}
.skill-image-recover {
    background-image: url("../img/skill-recover.png");
}
.skill-image-treasurehunting {
    background-image: url("../img/skill-treasurehunting.png");
}

/*warrior skill*/
.skill-image-slash {
     background-image: url("../img/skill-slash.png");
 }
.skill-image-revert-slash, .unlock-icon-revert-slash {
    background-image: url("../img/skill-slash.png");
    transform:scaleY(-1);
}
.skill-image-whirl {
    background-image: url("../img/skill-whirl.png");
}
.skill-image-big-whirl, .unlock-icon-big-whirl {
    background-image: url("../img/skill-big-whirl.png");
}
.skill-image-horizontal-slash, .unlock-icon-horizontal-slash {
    background-image: url("../img/skill-horizontal-slash.png");
}
.skill-image-vertical-slash, .unlock-icon-vertical-slash {
    background-image: url("../img/skill-vertical-slash.png");
}
.skill-image-cross-slash, .unlock-icon-cross-slash {
    background-image: url("../img/skill-cross-slash.png");
}

/*priest skill*/
.skill-image-heal {
    background-image: url("../img/skill-heal.png");
}
.skill-image-blind-undead {
    background-image: url("../img/skill-blind-undead.png");
}

/*achievement*/
/*.achievement-icon-goblin-level , .achievement-icon-goblin-count, .achievement-icon-goblin-count2, .achievement-icon-goblin-count3 {
    background-image: url("../img/goblin1-0.png");
}
.achievement-icon-skeleton-level , .achievement-icon-skeleton-count, .achievement-icon-skeleton-count2, .achievement-icon-skeleton-count3{
    background-image: url("../img/skeleton2-0.png");
}
.achievement-icon-slime-level , .achievement-icon-slime-count, .achievement-icon-slime-count2, .achievement-icon-slime-count3{
    background-image: url("../img/slime2-0.png");
}
.achievement-icon-orc-level , .achievement-icon-orc-count, .achievement-icon-orc-count2, .achievement-icon-orc-count3 {
    background-image: url("../img/orc1-0.png");
}
*/