<div class="main-window unselectable">
    <div class="hero-status">
        <div class='hero-label-row'>
            <label class='hero-label hero-level'></label>
            <label class='hero-label hero-type'></label>
            <label class='hero-label hero-exp'></label>
        </div>
        <div class='hero-label-row'>
            <label class='hero-label hero-hp'></label>
            <label class='hero-label hero-score'></label>
            <label class='hero-label game-turn'></label>
        </div>
        <div class='room-sign'></div>
    </div>
    <div class="map-wrapper">
        <div class="map">
        </div>
    </div>
    <div class="hero-active-skill">

    </div>
</div>